.DS_Store
.kotlin/
.gradle/
build/
out/
DerivedData/
.swiftpm/
Package.resolved
*.xcuserdata/
*.xcuserstate
captures/
local.properties
*.hprof
node_modules/
oh_modules/
.hvigor/
hvigor-local/
.tmp/
*.hap
*.har
*.app
