.DS_Store
.kotlin/
.gradle/
build/
out/
DerivedData/
.swiftpm/
Package.resolved
*.xcuserdata/
*.xcuserstate
captures/
local.properties
*.hprof
node_modules/
oh_modules/
.hvigor/
platforms/harmony/**/.test/
hvigor-local/
BuildProfile.ets
.tmp/
*.hap
*.har
*.app
